---
interface Props {
  product: {
    title: string;
    thumbnail: string;
    images: string[];
  };
}

const {product} = Astro.props;
---

<div class='image-gallery'>
  <img src={product.thumbnail} alt={product.title} class='main-image' />
  <div class='thumbnail-list'>
    {
      product.images.map((image) => (
        <img src={image} alt={product.title} class='thumbnail' />
      ))
    }
  </div>
</div>

<style>
  .image-gallery {
    flex: 1;
  }
  .main-image {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
  }
  .thumbnail-list {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
  }
</style>

<script>
  const mainImage = document.querySelector(".main-image");
  const thumbnails = document.querySelectorAll(".thumbnail");

  thumbnails.forEach((thumbnail) => {
    thumbnail.addEventListener("click", () => {
      if (
        thumbnail instanceof HTMLImageElement &&
        mainImage instanceof HTMLImageElement
      ) {
        mainImage.src = thumbnail.src;
      }
    });
  });
</script>
